@(hunt: models.Hunt, formStep: Form[forms.Step])

@mainDashboard("Nouvelle étape", "dashboard/step") {
	<ul class="breadcrumb">
		<li><a href="@routes.ManagerController.dashboard()">@Messages("dashboard")</a></li>
		<li><a href="@routes.HuntController.show(hunt.getId())"><span class="hunt-name">@hunt.getLabel()</span></a></li>
		<li><a>@Messages("newStep")</a></li>
	</ul>
} {
	<div class="row-fluid">
		<div class="span4">
			@helper.form(action = routes.StepController.submitCreateForm(hunt.getId()), 
				'id -> "create-step", 
				'class -> "form-horizontal", 
				Symbol("data-area") -> hunt.getArea().toTemplateString()) {
				@includeFormStep(formStep)
				<div class="form-actions">
					<button type="submit" name="submit-step" class="btn pushable">@Messages("save")</button>
				</div>
			}
		</div>

		<div class="span8">
			@includes.map("step-map")
		</div>

	</div>
}