@(step: models.Step, formEnigma: Form[forms.Enigma])

@import helpers._

@mainDashboard("Nouvelle énigme", "dashboard/enigma") {
	<ul class="breadcrumb">
		<li><a href="@routes.ManagerController.dashboard()">@Messages("dashboard")</a></li>
		<li><a href="@routes.HuntController.show(step.getHunt().getId())"><span class="hunt-name">@step.getHunt().getLabel()</span></a></li>
		<li><a href="@routes.HuntController.show(step.getHunt().getId())">&Eacute;tape @step.getNumber()</a></li>
		<li><a>@Messages("newEnigma")</a></li>
	</ul>
} {
	<div class="row-fluid">
		<div class="span4">
			@helper.form(action = routes.EnigmaController.submitCreateForm(step.getId()), 
				'id -> "create-enigma", 
				'class -> "form-horizontal",
				Symbol("data-area") -> step.getHunt().getArea().toTemplateString(),
				Symbol("data-start-position") -> step.getPosition().toTemplateString(),
				Symbol("data-start-accuracy") -> Float.toString(step.getPosition().getAccuracy())) {
				@includeFormEnigma(formEnigma)
				<div class="form-actions">
					<button type="submit" name="submit-enigma" class="pushable btn">@Messages("save")</button>
				</div>
			}
		</div>

		<div class="span8">
			@includes.map("enigma-map")
		</div>
	</div>

	@includeHiddenFormEnigma(formEnigma)
}