@(formHunt: Form[forms.Hunt])

@import helpers._

@mainDashboard("Nouvelle chasse", "dashboard/hunt") {
	<ul class="breadcrumb">
		<li><a href="@routes.ManagerController.dashboard()">Tableau de bord</a></li>
		<li><a>Nouvelle chasse</a></li>
	</ul>
} {
	<div class="row-fluid">
		<div class="span4">
			@helper.form(action = routes.HuntController.submitCreateForm(), 'id -> "create-hunt", 'class -> "form-horizontal") {
				@includeFormHunt(formHunt)
				<div class="form-actions">
					<button type="submit" class="btn pushable">Enregistrer</button>
				</div>
			}
		</div>

		<div class="span8">
			@includes.map("hunt-map")
		</div>

	</div>
}