@(step: models.Step, formEnigma: Form[forms.Enigma])

@import helpers._

@global.main() {
	<div class="row-fluid hidden-phone">
		<div class="span4">
			@helper.form(action = routes.EnigmaController.submitCreateForm(step.getId()), 
				'id -> "create-enigma", 
				'class -> "form-horizontal",
				Symbol("data-area") -> step.getHunt().getArea().toTemplateString(),
				Symbol("data-start-position") -> step.getPosition().toTemplateString(),
				Symbol("data-start-accuracy") -> step.getPosition().getAccuracy().toString()) {
				@includeFormEnigma(formEnigma)
				<div class="form-actions">
					<button type="submit" name="submit-enigma" class="pushable btn">@Messages("save")</button>
				</div>
			}
		</div>

		<div class="span8">
			@includes.map("enigma-map")
		</div>
	</div>
	<div class="row-fluid visible-phone">
		@Messages("tooSmallResolution")
	</div>

	@includeHiddenFormEnigma(formEnigma)
}