@(hunts: List[models.Hunt])

@import helpers._
@import models._

@displayHunts(hunts: List[Hunt], nbPerLine: Integer)(f: Hunt => Html)(g: () => Html) = @{
	var i:Int = 0
	var result = ""
	if (hunts.isEmpty) {
		g()
	} else {
		for (hunt <- hunts) {
			result += f(hunt)

			i += 1
		}
	}

	new Html(result)
}

@global.main() {
	@if(!hunts.isEmpty()) { 
		<div id="container-hunt-box">
		@for(hunt <- hunts) {
			<div class="hunt-box">
				<a class="pushable" href="@routes.HuntController.show(hunt.getId())">
					<div class="name"><div><span>@hunt.getLabel()</span></div></div>
					<div class="numbers">
						@if(hunt.getSteps().size() > 1) {
							<div class="steps"><span class="number">@hunt.getSteps().size()</span><span>@Messages("steps")</span></div>
						} else {
							<div class="steps"><span class="number">@hunt.getSteps().size()</span><span>@Messages("step")</span></div>
						}

						@if(hunt.getEnigmas().size() > 1) {
							<div class="enigmas"><span class="number">@hunt.getEnigmas().size()</span><span>@Messages("enigmas")</span></div>
						} else {
							<div class="enigmas"><span class="number">@hunt.getEnigmas().size()</span><span>@Messages("enigma")</span></div>
						}
					</div>
					<div class="tags">
						@for(tag <- hunt.getTags()) {
							<div class="tag">@tag.getName()</div>
						}
					</div>
					<div>@Messages("modif") @hunt.getModifiedAt()</div>
				</a>
			</div>
		}
		</div>
	} else { 
		<div class="span12">
			<p>@Messages("createAHunt")</p>
		</div>
	}
}