@(hunts: List[models.Hunt])

@import helpers._
@import models._

@mainDashboard("Voir la chasse") {
	<ul class="menu">
	    <li class="selected"><a href="">Dashboard</a></li>
	    <li><a class="pushable" href="@routes.Hunt.create()">Nouvelle chasse</a></li>
	</ul>
} {
	@for((hunt, i) <- hunts.zipWithIndex) {
		@if(i % 3 == 0) {
			<div class="row-fluid">
		}

		<div class="span4">
			<div>@hunt.getLabel()</div>
			<div>@hunt.getDescription()</div>
			<div>@hunt.getSteps().size() étapes</div>
			<div>@hunt.getEnigmas().size() énigmes</div>
			<div>Modifiée le @hunt.getModifiedAt()</div>
		</div>

		@if(i % 3 == 0) {
			</div>
		}
	}
}