@(formStep: Form[forms.Step])

@import helpers._

@includes.authenticationToken(formStep("token"))

<blockquote>
	@Messages("stepDescription")
</blockquote>
<div class="control-group">
	<label class="control-label" for="description-step">@Messages("stepUserDescription")</label>
	<div class="controls">
		<textarea class="span12" id="description-step" name="@formStep("description").name">@formStep("description").value</textarea>
		<p class="help-block">@Messages("stepUserDescrTip")</p>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="position-step-display">@Messages("position")</label>
	<div class="controls">
		<input type="text" class="span12" id="position-step-display" readonly="readonly" />
		<input type="hidden" id="position-step" name="@formStep("position").name" value="@formStep("position").value" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="accuracy-step">@Messages("precision")</label>
	<div class="controls">
		<div class="input-append row-fluid">
			<input type="text" class="span8" id="accuracy-step" name="@formStep("accuracy").name" value="@formStep("accuracy").value" />
			<span class="add-on">@Messages("metres")<span>
		</div>
		<p class="help-block">@Messages("stepMarkerTip")</p>
	</div>
</div>