@(formEnigma: Form[forms.Enigma])

@import helpers._

<div class="modal modal-form hide fade out" id="modal-add-clue" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close pushable" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>@Messages("addClue")</h3>
	</div>
	<div class="modal-body container-fluid">
		<div class="form-horizontal row-fluid">
			<div class="control-group">
				<label class="control-label">@Messages("type")</label>
				<div class="controls">
					<div class="btn-group clue-type-btn-group" data-toggle="buttons-radio">
						<div class="btn active" data-selector=".text-clue-controls">@Messages("text")</div>
						<div class="btn" data-selector=".file-clue-controls">@Messages("file")</div>
					</div>
				</div>
			</div>
			
			<div class="clue-controls text-clue-controls">
				<div class="control-group">
					<label class="control-label" for="add-text-clue-description">@Messages("statement")</label>
					<div class="controls">
						<textarea class="span12" data-bind="text-clue-description" id="add-text-clue-description"></textarea>
						<p class="help-block">@Messages("statementTip")</p>
					</div>
				</div>
			</div>

			<div class="clue-controls file-clue-controls hide">
				<div class="control-group">
					<label class="control-label" for="add-file-clue-description">@Messages("descr")</label>
					<div class="controls">
						<input class="span12" type="text" data-bind="file-clue-description" id="add-file-clue-description" placeholder="Notre Dame de Paris" />
						<p class="help-block">@Messages("fileDescrTip")</p>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="add-file-clue-link">@Messages("lien")</label>
					<div class="controls">
						<input class="span12" type="text" data-bind="file-clue-link" id="add-file-clue-link" placeholder="http://...png" />
						<p class="help-block">@Messages("linkTip")</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn pushable" id="add-clue-btn">@Messages("add")</button>
	</div>
</div>

<div class="modal modal-form hide fade out" id="modal-edit-clue" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close pushable" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>@Messages("modifClue")</h3>
	</div>
	<div class="modal-body container-fluid">
		<div class="form-horizontal row-fluid">
			<div class="control-group">
				<label class="control-label">@Messages("type")</label>
				<div class="controls">
					<div class="btn-group clue-type-btn-group" data-toggle="buttons-radio">
						<div class="btn active" data-selector=".text-clue-controls">@Messages("text")</div>
						<div class="btn" data-selector=".file-clue-controls">@Messages("file")</div>
					</div>
				</div>
			</div>
			
			<div class="clue-controls text-clue-controls">
				<div class="control-group">
					<label class="control-label" for="edit-text-clue-description">@Messages("statement")</label>
					<div class="controls">
						<textarea class="span12" data-bind="text-clue-description" id="edit-text-clue-description"></textarea>
						<p class="help-block">@Messages("statementTip")</p>
					</div>
				</div>
			</div>

			<div class="clue-controls file-clue-controls hide">
				<div class="control-group">
					<label class="control-label" for="edit-file-clue-description">@Messages("descr")</label>
					<div class="controls">
						<input class="span12" type="text" data-bind="file-clue-description" id="edit-file-clue-description" placeholder="Notre Dame de Paris" />
						<p class="help-block">@Messages("fileDescrTip")</p>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="edit-file-clue-link">@Messages("lien")</label>
					<div class="controls">
						<input class="span12" type="text" data-bind="file-clue-link" id="edit-file-clue-link" placeholder="http://...png" />
						<p class="help-block">@Messages("linkTip")</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn pushable" id="update-clue-btn">@Messages("save")</button>
		<button class="remove-clue-btn btn pushable btn-danger" id="add-clue-btn">@Messages("delete")</button>
	</div>
</div>

<div class="hide" id="clue-prototype">
	<div class="clue">
		<i class="icon-type-clue icon-white"></i> @Messages("clue") <span class="number">1</span>
		<input type="hidden" data-bind="type-clue" name="@formEnigma("clues[x].type").name" data-renumber="type-clue" />
		<input type="hidden" data-bind="text-clue-description" name="@formEnigma("clues[x].textDescription").name" data-renumber="text-clue-description" />
		<input type="hidden" data-bind="file-clue-description" name="@formEnigma("clues[x].fileDescription").name" data-renumber="file-clue-description" />
		<input type="hidden" data-bind="file-clue-link" name="@formEnigma("clues[x].fileLink").name" data-renumber="file-clue-link" />
		<div class="actions">
			<a role="button" class="edit-clue-btn btn inverse pushable"><i class="icon-pencil icon-white"></i></a>
			<button type="button" class="remove-clue-btn btn inverse pushable"><i class="icon-remove icon-white"></i></button>
		</div>
	</div>
</div>