@(title: String, start: String = "")(nav: Html)(content: Html)

@import _root_.forms._

<!DOCTYPE html>

<html>
    <head>
        <title>Géonigme - @title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("leaflet/leaflet.css")">
        <!--[if lte IE 8]><link rel="stylesheet" href="leaflet/leaflet.ie.css" /><![endif]-->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script data-main="@routes.Assets.at("javascripts/app")" src="@routes.Assets.at("javascripts/require.min.js")" type="text/javascript" data-start="@start"></script>
    </head>
    <body>
		<header>
			<div class="background container-fluid"></div>
		</header>
        <div class="container-fluid">
            <div class="row-fluid">
        		<nav>
        			@nav
        		</nav>
            </div>
            <section data-role="page">
            	@content
            </section>
        </div>
        <footer class="container-fluid">
            <div class="row-fluid">
                <p class="copyright"><strong>Géonigme</strong> - &copy; copyright 2012
            </div>
        </footer>
    </body>
</html>
