@(hid: String, hunt: models.Hunt)

@import helpers._

@mainDashboard("Voir la chasse", "show_hunt") {
	<ul class="breadcrumb">
		<li><a href="#">Tableau de bord</a></li>
		<li><a>@hunt.getLabel() |<span class="small">Facile</span></a></li>
	</ul>
} {
	<div class="row-fluid">
		<div class="span4" id="show-hunt" data-area-hunt="@hunt.getArea().toTemplateString()">
			<section class="hunt">
				<div id="tags-hunt">
					@for(tag <- hunt.getTags()) {
						<span class="tag"><i class="icon-tag icon-blue"></i>@tag.getName()</span>
					}
					<span class="tag"><i class="icon-tag icon-blue"></i>chouette</span>
					<span class="tag"><i class="icon-tag icon-blue"></i>cool super</span>
					<span class="tag"><i class="icon-tag icon-blue"></i>nulle</span>
				</div>
				<blockquote id="description-hunt">
					@hunt.getDescription()
				</blockquote>
				<div class="actions">
					<a href="#" class="action">Modifier</a>
					<a href="#" class="action">Publier</a>
				</div>
			</section>
			<section class="steps">
				<div class="actions">
					<a href="@routes.Step.create(hid)" class="action add-step">Ajouter une étape</a>
				</div>
				@if(hunt.getSteps().isEmpty()) {
					<p class="no-step">Aucune étape... Créez-en une !</p>
				} else {
					<div class="select" id="select-step">
						<select>
							@for((step, i) <- hunt.getSteps().zipWithIndex) {
								<option value="@i">&Eacute;tape @i</option>
								<option value="@i">&Eacute;tape @i</option>
							}
						</select>
					</div>
					@for((step, i) <- hunt.getSteps().zipWithIndex) {
		 				<div class="step" id="step@i">
							<a class="update-step pushable" href="#">Modifier</a>
							<blockquote>
								@step.getDescription()
							</blockquote>
							<section class="enigmas">
								<div class="actions">
									<a href="#" class="action">Ajouter une énigme</a>
								</div>
								<div class="accordion" id="accordion-enigmas">
									@if(step.getEnigmas().isEmpty()) {
										Aucune énigme... Créez-en une !
									} else {
										@for((enigma, i) <- step.getEnigmas().zipWithIndex) {
											<div class="accordion-group">
												<div class="accordion-heading">
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-enigmas" href="#collapse-enigma1">
														&Eacute;nigme @i
													</a>
												</div>
												<div id="collapse-enigma1" class="accordion-body collapse in">
													<div class="accordion-inner">
														<blockquote>
															@enigma.getDescription()
														</blockquote>
														<div class="answer">
															<h3>Réponses valides</h3>
															<div>blabla, blabal</div>
														</div>
														<div class="clues">
															@if(enigma.getClues().isEmpty()) {
																Aucun indice...
															} else {
																@for((clue, i) <- enigma.getClues().zipWithIndex) {
																	<div class="clue">
																		<h3><i class="icon-comment icon-white"></i> Indice @i</h3>
																		<div>
																			blablablab lbal blab lablbl blab lbalbalbal blablbal
																		</div>
																	</div>
																	<div class="clue">
																		<h3><i class="icon-file icon-white"></i> Indice @i</h3>
																		<div>
																			Lien vers le fichier
																		</div>
																	</div>
																}
															}
														</div>
													</div>
													<div class="actions">
														<a href="#" class="action update-enigma">Modifier</a>
													</div>
												</div>
											</div>
										}
									}
								</div>
							</section>
						</div>
					}
				}
			</section>
			
		</div>
		<div class="span8">
			<div id="show-hunt-map" class="fixed-map map"></div>
		</div>
	</div>

}