@(hunt: models.Hunt)

@import helpers._
@import models._

@displayTextAnswers(labels: Set[String]) = @{
	var result: String = ""
	var iterator = labels.iterator()

	result += iterator.next()
	while (iterator.hasNext()) {
		result += ", " + iterator.next()
	}

	result
}

@displayAnswer(answer: Answer) = {
	@if(answer.isInstanceOf[TextAnswer]) {
		<h3>Réponses valides</h3>
		<div>@displayTextAnswers(answer.asInstanceOf[TextAnswer].getLabels())</div>
	} else {
		@if(answer.isInstanceOf[GeolocatedAnswer]) {
			<h3>Réponse géolocalisée</h3>
			<div>La position est indiquée sur la carte</div>
		}
	}
}

@displayClues(clues: List[Clue]) = {
	@if(clues.isEmpty()) {
		Aucun indice...
	} else {
		@for(clue <- clues) {
			<div class="clue">
				@if(clue.isInstanceOf[TextClue]) {
					<h3><i class="icon-comment icon-white"></i> Indice @clue.getNumber()</h3>
					<div>
						@clue.getDescription()
					</div>
				} else {
					@if(clue.isInstanceOf[FileClue]) {
						<h3><i class="icon-file icon-white"></i> Indice @clue.getNumber()</h3>
						<div>
							<a target="_blank" href="@clue.asInstanceOf[FileClue].getFile()">Lien vers : @clue.getDescription()</a>
						</div>
					}
				}
			</div>
		}
	}
}

@mainDashboard("Voir la chasse", "show_hunt") {
	<ul class="breadcrumb">
		<li><a href="#">Tableau de bord</a></li>
		<li><a><span class="hunt-name">@hunt.getLabel()</span> |<span class="small">Facile</span></a></li>
	</ul>
} {
	<div class="row-fluid">
		<div class="span4" id="show-hunt" data-area-hunt="@hunt.getArea().toTemplateString()">
			<section class="hunt">
				<div id="tags-hunt">
					@for(tag <- hunt.getTags()) {
						<span class="tag"><i class="icon-tag icon-blue"></i>@tag.getName()</span>
					}
				</div>
				<blockquote id="description-hunt">
					@hunt.getDescription()
				</blockquote>
				<div class="actions">
					<a href="#" class="action">Modifier</a>
					<a href="#" class="action">Publier</a>
				</div>
			</section>
			<section class="steps">
				<div class="actions">
					<a href="@routes.Step.create(hunt.getId())" class="action add-step">Ajouter une étape</a>
				</div>
				@if(hunt.getSteps().isEmpty()) {
					<a class="underline" href="@routes.Step.create(hunt.getId())" class="no-step">Aucune étape... Créez-en une !</a>
				} else {
					<div class="select" id="select-step">
						<select>
							@for(step <- hunt.getSteps()) {
								<option value="@step.getNumber()">&Eacute;tape @step.getNumber()</option>
							}
						</select>
					</div>
					@for(step <- hunt.getSteps()) {
		 				<div class="step" id="step@step.getNumber()">
		 					<div class="update-link">
								<a class="update-step pushable" href="#">Modifier</a>
							</div>
							<blockquote>
								@step.getDescription()
							</blockquote>
							<section class="enigmas">
								<div class="actions">
									<a href="@routes.Enigma.create(step.getId())" class="action">Ajouter une énigme</a>
								</div>
								<div class="accordion" id="accordion-enigmas">
									@if(step.getEnigmas().isEmpty()) {
										<a class="underline" href="@routes.Enigma.create(step.getId())" class="no-enigma">Aucune énigme... Créez-en une !</a>
									} else {
										@for(enigma <- step.getEnigmas()) {
											@defining(enigma.getNumber()) { number =>
												<div class="accordion-group enigma">
													<div class="accordion-heading">
														<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-enigmas" href="#collapse-enigma@number">
															&Eacute;nigme @number
														</a>
													</div>
													@if(number == 1) {
														<div id="collapse-enigma@number" class="accordion-body in">
													} else {
														<div id="collapse-enigma@number" class="accordion-body collapse">
													}
														<div class="accordion-inner">
															<blockquote>
																@enigma.getDescription()
															</blockquote>
															<div class="answer">
																@displayAnswer(enigma.getAnswer())
															</div>
															<div class="clues">
																@displayClues(enigma.getClues())
															</div>
														</div>
														<div class="actions">
															<a href="#" class="action update-enigma">Modifier</a>
														</div>
													</div>
												</div>
											}
										}
									}
								</div>
							</section>
						</div>
					}
				}
			</section>
			
		</div>
		<div class="span8">
			<div id="show-hunt-map" class="fixed-map map"></div>
		</div>
	</div>

}