@(hunt: models.Hunt, formHunt: Form[forms.Hunt])

@import helpers._

@mainDashboard("Modifier une chasse", "dashboard/hunt") {
	<ul class="breadcrumb">
		<li><a href="@routes.Manager.dashboard()">Tableau de bord</a></li>
		<li><a href="@routes.Hunt.show(hunt.getId())"><span class="hunt-name">@hunt.getLabel()</span></a></li>
		<li><a>Modifier la chasse</a></li>
	</ul>
} {
	<div class="row-fluid">
		<div class="span4">
			@helper.form(action = routes.Hunt.submitUpdateForm(hunt.getId()), 'id -> "create-hunt", 'class -> "form-horizontal") {
				@includes.formHunt(formHunt)
				<div class="form-actions">
					<a class="btn pushable" href="@routes.Hunt.show(hunt.getId())">Annuler</a>
					<button type="submit" class="btn pushable">Enregistrer</button>
				</div>
			}
		</div>

		<div class="span8">
			@includes.map("hunt-map")
		</div>

	</div>
}