@(hunt: models.Hunt, formHunt: Form[forms.Hunt])

@import helpers._

@global.main() {
	<div class="row-fluid hidden-phone">
		<div class="span4">
			@helper.form(action = routes.HuntController.submitUpdateForm(hunt.getId()), 'id -> "create-hunt", 'class -> "form-horizontal") {
				@includeFormHunt(formHunt)
				<div class="form-actions">
					<a class="btn pushable" href="@routes.HuntController.show(hunt.getId())">@Messages("cancel")</a>
					<button type="submit" class="btn pushable">@Messages("save")</button>
					<button type="submit" name="@formHunt("delete").name" class="btn pushable btn-danger">@Messages("delete")</button>
				</div>
			}
		</div>

		<div class="span8">
			@includes.map("hunt-map")
		</div>

	</div>
	
	<div class="row-fluid visible-phone">
		@Messages("tooSmallResolution")
	</div>
}