@(enigma: models.Enigma, formEnigma: Form[forms.Enigma])

@import helpers._

@global.main() {
	<div class="row-fluid">
		<div class="span4">
			@helper.form(action = routes.EnigmaController.submitUpdateForm(enigma.getId()), 
				'id -> "create-enigma", 
				'class -> "form-horizontal",
				Symbol("data-area") -> enigma.getStep().getHunt().getArea().toTemplateString(),
				Symbol("data-start-position") -> enigma.getStep().getPosition().toTemplateString(),
				Symbol("data-start-accuracy") -> Float.toString(enigma.getStep().getPosition().getAccuracy())) {
				@includeFormEnigma(formEnigma)
				<div class="form-actions">
					<a class="btn pushable" href="@routes.HuntController.show(enigma.getStep().getHunt().getId())">Annuler</a>
					<button type="submit" name="submit-enigma" class="pushable btn">Enregistrer</button>
				</div>
			}
		</div>

		<div class="span8">
			@includes.map("enigma-map")
		</div>
	</div>

	@includeHiddenFormEnigma(formEnigma)
}