@()

<div class="flexslider">
    <ul class="slides">
        <li>
            <img src="@routes.Assets.at("slideshow/illu1.jpg")" />
            <h1>Découvrez des lieux insolites !</h1>
        </li>
        <li>
            <img src="@routes.Assets.at("slideshow/illu3.jpg")" />
            <h1>Partez à l'aventure !</h1>
        </li>
        <li>
            <img src="@routes.Assets.at("slideshow/illu2.jpg")" />
            <h1>Disponible sur tout support !</h1>
        </li>
    </ul>
</div>