@(enigma: models.Enigma, clues: List[models.Clue])


@import helpers._
@import models._
@import _root_.global._

@createCheckAnswerButton(answer: Answer) = {
	@if(answer.isInstanceOf[TextAnswer]) {
		<button class="btn" id="check-answer" data-type-answer="text">Vérifiez votre réponse</button>
	} else {
		<button class="btn" id="check-answer" data-type-answer="geolocated">Vérifiez votre position</button>
	}
}

@mainGame("Jouer", "game/enigma") {
	<nav>
		<ul class="breadcrumb">
			<li><a href="@routes.GameController.home()">Liste des chasses</a></li>
			<li><a href="@routes.GameController.playHunt(enigma.getStep().getHunt().getId())"><span class="hunt-name">@enigma.getStep().getHunt().getLabel()</span></a></li>
			<li><a href="@routes.GameController.playHunt(enigma.getStep().getId())">&Eacute;tape @enigma.getStep().getNumber()</a></li>
			<li><a>&Eacute;nigme @enigma.getNumber()</a></li>
		</ul>
	</nav>
 	
	<div class="row-fluid">
		<div class="span12">
			<blockquote class="enigma">
				<p>@enigma.getDescription()</p>
			</blockquote>

			<div class="form-horizontal" data-check-action="@routes.GameController.checkAnswer()" id="form-check-answer">
				@if(enigma.getAnswer().isInstanceOf[models.TextAnswer]) {
					<div class="control-group">
						<label class="control-label" for="answer-text">Votre réponse</label>
						<div class="controls">
							<input class="span12" type="text" id="answer-text" name="text" value="" />
						</div>
					</div>
				} else {
					<blockquote>Vous devez vous rendre à l'emplacement que vous indique l'énigme. Une fois que vous pensez être au bon endroit, vérifiez votre réponse !</blockquote>
				}
				
				<div class="actions">
					@createCheckAnswerButton(enigma.getAnswer())
				</div>

				<ul data-role="listview" id="clues-list" class="list-view" data-number="@enigma.getClues().size()">
					@for(clue <- clues) {
					<!-- texte -->
						@if(clue.isInstanceOf[models.TextClue]) {
							<li class="clue">@clue.getDescription()</li>
						}
						<!-- file -->
						@if(clue.isInstanceOf[models.FileClue]) {
						<!-- image -->
							<!--  @if((clue.asInstanceOf[models.FileClue].getFileType()).equals("picture")) {-->
							<li class="clue">
								<button type="button" id="display-picture" class="btn">Afficher l'image</button>
								<div id="display-hide-picture" class="hide"><img alt="@clue.getDescription()" src="@clue.asInstanceOf[models.FileClue].getFile()" /></div>
							</li>
							<!-- }-->
						<!-- son -->
						}
					}
				</ul>

				<div id="template-clue" class="hide">
					<li class="clue">__description__</li>
				</div>
				
				
				<div id="template-file-clue" class="hide">
					<li class="clue">
						<button type="button" id="display-picture" class="btn">Afficher l'image</button>
						<div id="display-hide-picture" class="hide"><img alt="__description__" src="__file__" /></div>
					</li>
				</div>

				@if(enigma.getClues().isEmpty()) {
					<p>Dur dur... Il n'y aucun indice pour vous aider...</p>
				} else {
					@if(clues.isEmpty()) {
						<p id="no-clues">Vous n'avez pas affiché d'indices pour le moment</p>
					}
				}

				@if(clues.size() < enigma.getClues().size()) {
					<form method="POST" action="@routes.GameController.clue()" id="next-clue">
						@defining(AuthenticationTokenGenerator.generate()) { token =>
							<input type="hidden" name="token" value="@token" />
						}
						<button type="submit" class="btn">Afficher un nouvel indice</button>
					</form>
				}

				<div class="actions @displayIf(clues.size() < enigma.getClues().size(), "hide")" id="skip">
					<form method="POST" action="@routes.GameController.skipEnigma()" id="skip-enigma">
						@defining(AuthenticationTokenGenerator.generate()) { token =>
							<input type="hidden" name="token" value="@token" />
						}
						<button type="submit" class="btn btn-danger">Passer</button>
					</form>
					<p id="info-pass" class="danger">Vous n'arrivez pas à résoudre l'énigme ? Passez...</p>
				</div>
			</div>


		</div>
	</div>
}
