@(enigma: models.Enigma, clues: List[models.Clue])

@import helpers._
@import models._
@import _root_.global._

@createCheckAnswerButton(answer: Answer) = {
	@if(answer.isInstanceOf[TextAnswer]) {
		<button class="btn" id="check-answer" data-type-answer="text">@Messages("verifAnswer")</button>
	} else {
		<button class="btn" id="check-answer" data-type-answer="geolocated">@Messages("verifPosition")</button>
	}
}

@global.main() {
	<div class="row-fluid">
		<div class="span12">
			<blockquote class="enigma">
				<p>@enigma.getDescription()</p>
			</blockquote>

			<div class="form-horizontal" data-check-action="@routes.GameController.checkAnswer()" id="form-check-answer">
				@if(enigma.getAnswer().isInstanceOf[models.TextAnswer]) {
					<div class="control-group">
						<label class="control-label" for="answer-text">@Messages("yourAnswer")</label>
						<div class="controls">
							<input class="span12" type="text" id="answer-text" name="text" value="" />
						</div>
					</div>
				} else {
					<blockquote>@Messages("checkPositionTip")</blockquote>
				}
				
				<div class="actions">
					@createCheckAnswerButton(enigma.getAnswer())
				</div>

				<ul data-role="listview" id="clues-list" class="list-view" data-number="@enigma.getClues().size()">
					@for(clue <- clues) {
					<!-- texte -->
						@if(clue.isInstanceOf[models.TextClue]) {
							<li class="clue">@clue.getDescription()</li>
						}
						<!-- file -->
						@if(clue.isInstanceOf[models.FileClue]) {
						<!-- image -->
							<!--  @if((clue.asInstanceOf[models.FileClue].getFileType()).equals("picture")) {-->
							<li class="clue">
								<button type="button" id="display-picture" class="btn">@Messages("affImg")</button>
								<div id="display-hide-picture" class="hide"><img alt="@clue.getDescription()" src="@clue.asInstanceOf[models.FileClue].getFile()" /></div>
							</li>
							<!-- }-->
						<!-- son -->
						}
					}
				</ul>

				<div id="template-clue" class="hide">
					<li class="clue">__description__</li>
				</div>
				
				
				<div id="template-file-clue" class="hide">
					<li class="clue">
						<button type="button" id="display-picture" class="btn">Afficher l'image</button>
						<div id="display-hide-picture" class="hide"><img alt="__description__" src="__file__" /></div>
					</li>
				</div>

				@if(enigma.getClues().isEmpty()) {
					<p>@Messages("noGameClues")</p>
				} else {
					@if(clues.isEmpty()) {
						<p id="no-clues">@Messages("cluesNotShown")</p>
					}
				}

				@if(clues.size() < enigma.getClues().size()) {
					<form method="POST" action="@routes.GameController.clue()" id="next-clue">
						@defining(AuthenticationTokenGenerator.generate()) { token =>
							<input type="hidden" name="token" value="@token" />
						}
						<button type="submit" class="btn">@Messages("showClue")</button>
					</form>
				}

				<div class="actions @displayIf(clues.size() < enigma.getClues().size(), "hide")" id="skip">
					<form method="POST" action="@routes.GameController.skipEnigma()" id="skip-enigma">
						@defining(AuthenticationTokenGenerator.generate()) { token =>
							<input type="hidden" name="token" value="@token" />
						}
						<button type="submit" class="btn btn-danger">@Messages("passer")</button>
					</form>
					<p id="info-pass" class="danger">@Messages("EnigmaTooHard")</p>
				</div>
			</div>


		</div>
	</div>
}
