@(hunt: models.Hunt, score: Int, maxScore: Int)

@import helpers._
@import models._
@import _root_.repository._

@mainGame("Jouer", "game/game") {
	<nav>
		<ul class="breadcrumb">
			<li><a href="@routes.GameController.home()">@Messages("huntList")</a></li>
			<li><a><span class="hunt-name">@hunt.getLabel()</span></a></li>
		</ul>
	</nav>
	
	<p>@Messages("huntFinish")</p>

	<p>@Messages("huntScore", score, maxScore)</p> 

	@if(UserRepository.isLogged()) {
		<p>@Messages("scoreSaved")</p>
	} else {
		<p>@Messages("scoreNotSaved")</p>
	}
}