@(step: models.Step)


@import helpers._
@import _root_.global._

@global.main() {
	<blockquote>
		@step.getDescription()
	</blockquote>
	<div id="follow">
		<p>@Messages("follow")</p>

		<ul class="list-view itinerary">
			<li>@Messages("routCalcul")</li>
		</ul>

		<div class="template hide">
			<div class="pedestrian">
				<img alt="walk" src="@routes.Assets.at("images/pedestrian.png")" /> @Messages("walk1") <strong>__stop__</strong> @Messages("walk2") <strong>__line__</strong> @Messages("walk3") __type__
			</div>

			<div class="bus">
				<img alt="bus" src="@routes.Assets.at("images/bus.png")" /> @Messages("bus1") <strong> __line__</strong> @Messages("bus2") <strong>__target__</strong>
			</div>

			<div class="tram">
				<img alt="tram" src="@routes.Assets.at("images/tram.png")" /> @Messages("tram") <strong> __line__</strong> @Messages("bus2") <strong>__target__</strong>
			</div>

			<div class="exit">
				<img alt="exit" src="@routes.Assets.at("images/exit.png")" /> @Messages("takeStop") <strong>__stop__</strong>
			</div>

			<div class="target">
				<img alt="target" src="@routes.Assets.at("images/target.png")" /> @Messages("goEnd")
			</div>
		</div>
	</div>

	<div class="map" id="go-map" data-target="@step.getPosition().toTemplateString()" data-target-accuracy="@step.getPosition().getAccuracy()" data-ws="@routes.MapController.routing()"></div>

	<div class="actions">
		<button id="im-there" class="btn btn-danger">@Messages("here")</button>
		<div id="play-step-disabled" class="btn disabled">@Messages("play")</div>
		<form method="POST" action="@routes.GameController.startStep()" class="hide" id="play-step">
			@defining(AuthenticationTokenGenerator.generate()) { token =>
				<input type="hidden" name="token" value="@token" />
			}
			<button type="submit" class="btn" class="btn">@Messages("play")</button>
		</form>
		<p id="info-not-here" class="danger">@Messages("notGoodGeo")</p>
	</div>
}
