@(hunt: models.Hunt)

@import helpers._
@import models._

@mainGame("Jouer", "game/game") {
	<nav>
		<ul class="breadcrumb">
			<li><a href="@routes.Game.home()">Liste des chasses</a></li>
			<li><a><span class="hunt-name">@hunt.getLabel()</span></a></li>
		</ul>
	</nav>

	<div class="tags">
		@for(tag <- hunt.getTags()) {
			<span class="tag"><i class="icon-tag icon-blue"></i>@tag.getName()</span>
		}
	</div>

	<blockquote>
		@hunt.getDescription()
	</blockquote>

	<div data-area-hunt="@hunt.getArea().toTemplateString()" class="map" id="presentation-game-hunt"></div>

	<div class="actions">
		<a href="@routes.Game.go()" class="btn">Jouer</a>
	</div>
}