@(enigma: models.Enigma)

@import helpers._
@import _root_.models._
@import _root_.global._

@global.main() {
	<div class="row-fluid">
		<div class="span12">
			<blockquote class="enigma">
				<p>@enigma.getDescription()</p>
			</blockquote>

			<p class="finish">Désolé, cette énigme ne vous a apparemment pas inspiré, peut être la prochaine&nbsp;!</p>
			<p class="finish">Cette énigme ne vous rapporte donc aucun point.</p>

			<div class="answer summary">
				@if(enigma.getAnswer().isInstanceOf[TextAnswer]) {
					<p>Les réponses acceptées étaient : </p>
					<ul class="list">
						@for(label <- enigma.getAnswer().asInstanceOf[TextAnswer].getLabels()) {
							<li>@label</li>
						}
					</ul>
				} else {
					@defining(enigma.getAnswer().asInstanceOf[GeolocatedAnswer]) { geolocatedAnswer =>
						<p>Il fallait se rendre ici : <strong>@geolocatedAnswer.getPosition().getPlace()</strong>.</p>
						<div class="map" id="summary-map" data-target="@geolocatedAnswer.getPosition().toTemplateString()" data-target-accuracy="@geolocatedAnswer.getPosition().getAccuracy()"></div>
					}
				}
			</div>

			<div class="clue summary">
				@if(!enigma.getClues().isEmpty()) {
					<p>Ces indices étaient à votre disposition :</p>
					<ul class="list-view">
						@for(clue <- enigma.getClues()) {
							@if(clue.isInstanceOf[FileClue]) {
								<li>@clue.getDescription()</li>
							} else {
								<li>@clue.getDescription()</li>
							}
						}
					</ul>
				} else {
					<p>Il n'y avait pas d'indices pour cette énigme... Un peu trop dur peut-être !</p>
				}
			</div>

			<form method="POST" action="@routes.GameController.finishEnigma()">
				@defining(AuthenticationTokenGenerator.generate()) { token =>
					<input type="hidden" name="token" value="@token" />
				}

				@if(enigma.isLastEnigma()) {
					<button type="submit" class="btn">Finir</button>
				} else {
					<button type="submit" class="btn">&Eacute;nigme suivante</button>
				}
			</form>
		</div>
	</div>
}
