@(enigma: models.Enigma, usedClues: List[models.Clue], otherClues: List[models.Clue], score: Int)


@import helpers._
@import _root_.models._
@import _root_.global._

@global.main() {
	<div class="row-fluid">
		<div class="span12">
			<blockquote>
				@enigma.getDescription()
			</blockquote>

			<p>Vous avez résolu cette énigme, bravo ! Vous gagnez @score points !</p>

			@if(enigma.getAnswer().isInstanceOf[TextAnswer]) {
				<p>Les réponses acceptées étaient : </p>
				<ul>
					@for(label <- enigma.getAnswer().asInstanceOf[TextAnswer].getLabels()) {
						<li>@label</li>
					}
				</ul>
			} else {
				@defining(enigma.getAnswer().asInstanceOf[GeolocatedAnswer]) { geolocatedAnswer =>
					<p>Il fallait donc se rendre ici : <strong>@geolocatedAnswer.getPosition().getPlace()</strong>.</p>
					<div class="map" id="summary-map" data-target="@geolocatedAnswer.getPosition().toTemplateString()" data-target-accuracy="@geolocatedAnswer.getPosition().getAccuracy()"></div>
				}
			}

			@if(usedClues.isEmpty()) {
				<p>Vous n'avez utilisé aucun indice pour résoudre cette énigme... Peut-être l'avez vous trouvé trop simple !</p>
			} else {
				<p>Il vous a fallu ces indices pour venir à bout de l'énigme :</p>
				<ol>
					@for(clue <- usedClues) {
						@if(clue.isInstanceOf[FileClue]) {
							<li>@clue.getDescription()</li>
						} else {
							<li>@clue.getDescription()</li>
						}
					}
				</ol>
			}

			@if(!usedClues.isEmpty()) {
				<p>Ces indices étaient à votre disposition si vous n'y arriviez vraiment pas...</p>
				<ol start="@(usedClues.size() + 1)">
					@for(clue <- otherClues) {
						@if(clue.isInstanceOf[FileClue]) {
							<li>@clue.getDescription()</li>
						} else {
							<li>@clue.getDescription()</li>
						}
					}
				</ol>
			}

			<form method="POST" action="@routes.GameController.finishEnigma()">
				@defining(AuthenticationTokenGenerator.generate()) { token =>
					<input type="hidden" name="token" value="@token" />
				}
				<button type="submit" class="btn">&Eacute;nigme suivante</button>
			</form>
		</div>
	</div>
}