@(enigma: models.Enigma, usedClues: List[models.Clue], otherClues: List[models.Clue], score: Int)


@import helpers._
@import _root_.models._
@import _root_.global._

@global.main() {
	<div class="row-fluid">
		<div class="span12">
			<blockquote class="enigma">
				<p>@enigma.getDescription()</p>
			</blockquote>

			<p class="finish">@Messages("enigmaSolved")<span class="score">@score</span> @Messages("points")</p>

			<div class="answer summary">
				@if(enigma.getAnswer().isInstanceOf[TextAnswer]) {
					<p>@Messages("acceptedAnswers")</p>
					<ul class="list">
						@for(label <- enigma.getAnswer().asInstanceOf[TextAnswer].getLabels()) {
							<li>@label</li>
						}
					</ul>
				} else {
					@defining(enigma.getAnswer().asInstanceOf[GeolocatedAnswer]) { geolocatedAnswer =>
						<p>@Messages("wentHere") <strong>@geolocatedAnswer.getPosition().getPlace()</strong>.</p>
						<div class="map" id="summary-map" data-target="@geolocatedAnswer.getPosition().toTemplateString()" data-target-accuracy="@geolocatedAnswer.getPosition().getAccuracy()"></div>
					}
				}
			</div>

			<div class="used-clues summary">
				@if(usedClues.isEmpty()) {
					<p>@Messages("noCluesUsed")</p>
				} else {
					<p>@Messages("usedClues")</p>
					<ul class="list-view">
						@for(clue <- usedClues) {
							@if(clue.isInstanceOf[FileClue]) {
								<li>@clue.getDescription()</li>
							} else {
								<li>@clue.getDescription()</li>
							}
						}
					</ul>
				}
			</div>

			<div class="other-clues summary">
				@if(!otherClues.isEmpty()) {
					<p>@Messages("unusedClues")</p>
					<ul class="list-view">
						@for(clue <- otherClues) {
							@if(clue.isInstanceOf[FileClue]) {
								<li>@clue.getDescription()</li>
							} else {
								<li>@clue.getDescription()</li>
							}
						}
					</ul>
				}
			</div>				

			<form method="POST" action="@routes.GameController.finishEnigma()">
				@defining(AuthenticationTokenGenerator.generate()) { token =>
					<input type="hidden" name="token" value="@token" />
				}

				@if(enigma.isLastEnigma()) {
					<button type="submit" class="btn">@Messages("ending")</button>
				} else {
					<button type="submit" class="btn">@Messages("nextEnigma")</button>
				}
			</form>
		</div>
	</div>
}
