@(hunt: models.Hunt, formHunt: Form[forms.Hunt])

@import helpers._

@global.main() {
	<div class="row-fluid">
		<div class="span4">
			@helper.form(action = routes.AdminPanelController.submitHuntEditForm(hunt.getId()), 'id -> "create-hunt", 'class -> "form-horizontal") {
				@dashboard.includeFormHunt(formHunt)
				<div class="form-actions">
					<a class="btn pushable" href="@routes.AdminPanelController.huntlist()">@Messages("cancel")</a>
					<button type="submit" class="btn pushable">@Messages("save")</button>
				</div>
			}
			
			<!-- @helper.form(action = routes.AdminPanelController.submitHuntDelete(hunt.getId()), 'id -> "create-hunt", 'class -> "form-horizontal") {-->
				<form method="POST" action="@routes.AdminPanelController.submitHuntDelete(hunt.getId())" id="suppression">
				<div class="form-actions">
					<button type="submit" class="btn pushable">@Messages("delete")</button>
				</div>
			<!-- } -->
		</div>

		<div class="span8">
			@includes.map("hunt-map")
		</div>

	</div>
}