@(hunts: java.util.List[models.Hunt])

@import helpers._
@import models._
@import _root_.global.Menu
@import _root_.pages._

@global.main() {
	@if(!hunts.isEmpty) { 
		<div id="container-hunt-box">
		@for(hunt <- hunts) {
			<div class="user-box">
				@components.link(AdminHuntEditPage.getLinkFor(hunt)) {
					<div class="name">
						<div>
							<span>@hunt.getLabel()</span>
						</div>
					</div>
					<div>@Messages("modif") @hunt.getModifiedAt()</div>
				}
			</div>
		}
		</div>
	} else { 
		<div class="span12">
			<p>@Messages("noHunt")</p>
		</div>
	}
}
