@(hunts: java.util.List[models.Hunt])

@import helpers._
@import models._
@import _root_.global.Menu
@import _root_.pages._

@global.main() {
	@if(!hunts.isEmpty) { 
		<div id="container-hunt-box">
		<table>
		<tr>
			<td class="listadmin">
				<div>
					<span>@Messages("language")</span>
				</div>
			</td>
			<td class="listadmin">
				<div>
					<span>@Messages("name")</span>
				</div>
			</td>
			<td class="listadmin">
				<div>
					<span>@Messages("modif")</span>
				</div>
			</td>
			<!-- <td class="listadmin">
				<div>
					<span>@Messages("actions")</span>
				</div>
			</td> -->
		</tr>
		
		@for(hunt <- hunts) {
		<tr>
		<td>
			<div>@hunt.getLanguage()</div>
		</td>
		<td>
			<div class="user-box">
				@components.link(HuntShowPage.getLinkFor(hunt)) {
					<div class="name">
						<div>
							<span>@hunt.getLabel()</span>
						</div>
					</div>
				}
			</div>
		</td>
		<td>
			<div>@hunt.getHumanModifiedAt()</div>
		</td>
		<!-- <td>
			@components.link(HuntShowPage.getLinkFor(hunt)) {
				@Messages("manage")
			}
		</td> -->
		</tr>
		}
		
		</table>
	} else { 
		<div class="span12">
			<p>@Messages("noHunt")</p>
		</div>
	}
	
}
