@(users: List[models.User])

@import helpers._
@import models._


@displayUserList(users: List[User], nbPerLine: Integer)(f: User => Html)(g: () => Html) = @{
	var i:Int = 0
	var result = ""
	if (users.isEmpty) {
		g()
	} else {
		for (user <- users) {
			result += f(user)

			i += 1
		}
	}

	new Html(result)
}

@mainAdminPanel("Utilisateurs", "adminpanel") {
	<ul class="menu">
		<li class="selected"><a href="@routes.AdminPanel.userlist()">Utilisateurs</a></li>
		<li><a class="pushable" href="@routes.AdminPanel.userlist()">Chasses</a></li>
		<li><a class="pushable" href="">Autre</a></li>
	</ul>
} {
	@*
		@routes.user.show(user.getId())
	*@
	@if( !users.isEmpty() ) { 
		<div id="container-user-box">
		@for(user <- users) {
			<div class="user-box">
				<a class="pushable" href="">
					<div class="name">
						<div>
							<span>@user.getLoginName()</span>
						</div>
					</div>
					<div>Inscrit le @user.getInscriptionDate()</div>
				</a>
			</div>
		}
		</div>
	} else { 
		<div class="span12">
			<p>Aucun utilisateur.</p>
		</div>
	}
}