@(users: List[models.User])

@import helpers._
@import models._
@import _root_.global.Menu
@import _root_.pages._

@global.main() {
	@if(!users.isEmpty) { 
		<div id="container-user-box">
		@for(user <- users) {
			<div class="user-box">
				@components.link(AdminUserEditPage.getCopy().setMyParameters(user)) {
					<div class="name">
						<div>
							<span>@user.getLoginName()</span>
						</div>
					</div>
					<div>Inscrit le @user.getInscriptionDate()</div>
				}
			</div>
		}
		</div>
	} else { 
		<div class="span12">
			<p>Aucun utilisateur.</p>
		</div>
	}
}