@()

@mainHome("Accueil", "home") { 
    <ul class="menu">
        <li class="selected"><a href="@routes.ApplicationController.index()">@Messages("discover")</a></li>
        <li><a class="pushable" href="@routes.UserController.login()">@Messages("connect")</a></li>
        <li><a class="pushable" href="@routes.GameController.home()">@Messages("play")</a></li>
    </ul>
} {
    <div class="row-fluid">
        <div class="span6 wrapper-slideshow">
            @includes.slideshow()
        </div>
        <div class="span6 left-glue" id="geonigme-description"> 
            <p class="big">
                <span class="blue-highlighted">@Messages("geonigmeDescr")</span>
            </p>
            
            <p class="big blue">@Messages("geonigmeObj")</p>
            
            <div class="pushable btn-arrow-green">
                <a class="uppercase" href="@routes.UserController.login()">@Messages("begin")</a>
            </div>
            
        </div>
    </div>
}
