@()

@mainHome("Accueil", "home") { 
    <ul class="menu">
        <li class="selected"><a href="@routes.Application.index()">Découvrir</a></li>
        <li><a class="pushable" href="@routes.Application.login()">Se connecter</a></li>
    </ul>
} {
    <div class="row-fluid">
        <div class="span6">
            <div id="camera-wrap" class="camera_black_skin">
                <div data-src="@routes.Assets.at("slideshow/illu1.jpg")">
                    <div class="caption">Découvrez des lieux insolites...</div>
                </div>
                <div data-src="@routes.Assets.at("slideshow/illu1.jpg")">
                    <div class="caption">Découvrez des lieux insolites...</div>
                </div>
                <div data-src="@routes.Assets.at("slideshow/illu1.jpg")">
                    <div class="caption">Découvrez des lieux insolites...</div>
                </div>
            </div>
        </div>
        <div class="span6 left-glue" id="geonigme-description"> 
            <p class="big">
                <span class="blue-highlighted">Géonigme est un jeu de piste basé sur Montpellier</span>
            </p>
            
            <p class="big blue">Créer des énigmes, partagez les, mais surtout jouez et (re)découvrez la ville&nbsp;!</p>
            
            <a class="btn-arrow-green uppercase pushable" href="@routes.Application.login()">Démarrez maintenant !</a>
        </div>
    </div>
}
