@(formLogin: Form[forms.Login], formRegistration: Form[forms.Register])

@import helpers._

@mainHome("Connexion - Inscription") { 
    <ul class="menu">
        <li><a class="pushable" href="@routes.Application.index()">Découvrir</a></li>
        <li class="selected"><a href="@routes.User.login()">Se connecter</a></li>
    </ul>
} {
    <div class="row-fluid">
        <div class="span6" id="registration">
            <div class="introduction">
                <div><strong>Nouveau sur Géonigme ?</strong></div>
                <div>Inscrivez-vous !</div>
            </div>
            @helper.form(action = routes.User.submitRegisterForm(), 'id -> "login-form", 'class -> "form-horizontal") {
                <div class="control-group @displayIfError(formRegistration("pseudonym"), "error")">
                    <label class="control-label" for="registration-input-pseudonym">Pseudonyme</label>
                    <div class="controls">
                        <input name="@formRegistration("pseudonym").name()" id="registration-input-pseudonym" type="text" class="span12" value="@formRegistration("pseudonym").value()" />
                        @formRegistration("pseudonym").errors.map { error =>
                            <p class="help-block error">@error.message</p>
                        }
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="registration-input-email">@@dresse courriel</label>
                    <div class="controls">
                        <input name="@formRegistration("email").name()" id="registration-input-email" type="text" class="span12" value="@formRegistration("email").value()" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="registration-input-password">Mot de passe</label>
                    <div class="controls">
                        <input name="@formRegistration("password").name()" id="registration-input-password" type="password" class="span12" value="@formRegistration("password").value()" autocomplete="off" />
                    </div>
                </div>
                <button type="submit" class="btn pushable pull-right uppercase">M'inscrire</button>
            } 
        </div>
        <div class="span6" id="connection">
            <div class="introduction">
                <div><strong>&nbsp;</strong></div>
                <div><strong>Sinon, connectez-vous !</strong></div>
            </div>
            @helper.form(action = routes.User.submitLoginForm(), 'id -> "login-form") {
                @if(formLogin.hasGlobalErrors()) {
                    <div class="control-group error">
                        @for(error <- formLogin.globalErrors()) {
                            <p class="help-block">@error.message</p>
                        }
                    </div>
                }
                <div>
                    <label class="uppercase focus" for="connection-input-login">Pseudonyme</label>
                    <input name="@formLogin("login").name()" id="connection-input-login" type="text" class="span12" value="@formLogin("login").value()" autofocus />
                </div>
                <div>
                    <label class="uppercase" for="connection-input-password">Mot de passe</label>
                    <input name="@formLogin("password").name()" id="connection-input-password" type="password" class="span12" value="@formLogin("password").value()" />
                </div>
                <button type="submit" class="btn pushable pull-right uppercase">Me connecter</button>

            }
            <p class="pagination-right">
                <a href="#">J'ai oublié mon mot de passe</a>
            </p>
        </div>
    </div>

}
