@import "lib.less";

nav {
	font-size: 14px;
	
	.breadcrumb {
		padding: 0px;
		margin: 0px;
		background: none;
	}
}

.map {
	width: 100%;
}

#text-answers .text-answer {
	margin-bottom: 10px;

	&:nth-last-child(2) {
		margin-bottom: 0px;
	}

	.btn.disabled {
		opacity: 0;
	}
}

#clues .clue {
	background: @colorClearBlue;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 10px;
	margin-bottom: 5px;
	color: white;
	line-height: 30px;
	vertical-align: middle;

	.actions {
		float: right;
		padding-right: 10px;
		.btn {
			margin: 0px;
			padding: 0px;
		}
	}
}

#tags-hunt {
	color: @colorClearBlue;
	margin-bottom: 5px;

	.tag {
		display: inline-block;
		margin-right: 5px; 
	}
}

section.hunt {
	border-bottom: @colorOrange 1px solid;
	overflow: hidden;
	padding-bottom: 15px;
	margin-bottom: 15px;
}