@import "lib.less";

.game {

	.container-fluid {
		// margin-top: 15px;
	}

	ul.breadcrumb {
		// font-size: 18px;
	}

	ul.list-view  {
		margin: 0px;
		list-style: none;
		color: @colorClearBlue;

		li {
			border-bottom: solid 1px @colorClearBlue;
			
			&:first-child {
				border-top: solid 1px @colorClearBlue;
			}
		}
	}

	#hunts-list {
		a {
			display: block;
			padding: 10px 0px;
			color: @colorClearBlue;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			
			&:active {
				text-decoration: none;
				background: @colorClearBlue;
				color: white;
			}
		}
	}

	#clues-list {
		margin-bottom: 5px;

		li {
			padding: 10px 0px;
		}
	}

	p {
		color: @colorClearBlue;

		&.danger {
			color: @colorRed;
		}
	}

	.list-view.itinerary {
		text-transform: none;
		margin-bottom: 15px;

		li {
			line-height: 32px;
			vertical-align: middle;

			img {
				margin-right: 5px;
			}
		}
	}

	h1 {
		color: @colorGreen;
		.hunt-name {
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.level {
			font-size: 18px;
			text-transform: lowercase;
			font-weight: normal;
		}
	}

	.tag {
		color: @colorClearBlue;
	}

	#presentation-game-hunt {
		height: 100px;
	}

	.actions {
		text-align: right;
		margin: 20px 0px;
	}

	.btn {
		padding: 5px 50px;

		&:not(.disabled) {
			&:hover {
				background: white;
				color: @colorClearBlue;
			}

			&:active {
				background: @colorClearBlue;
				color: white;
			}

			&.btn-danger {
				&:hover {
					color: @colorRed;
					background: white;
				}

				&:active {
					background: @colorRed;
					color: white;
				}
			}
		}
	}
}