@import "lib.less";

.game {

	.container-fluid {
		// margin-top: 15px;
	}

	ul.breadcrumb {
		// font-size: 18px;
	}

	ul.list {
		color: @colorClearBlue;
		list-style: none;

		li {
			border-left: 5px solid @colorClearBlue;
			padding-left: 5px;
			margin-bottom: 3px;
		}
	}

	blockquote.enigma {
		border: none;
		position: relative;
		padding: 0px;

		p {
			font-size: 24px;
			font-style: italic;
			color: @colorDarkBlue;
			padding: 30px 0px 30px 60px;
			max-width: 480px;
			text-align: left;
		}

		&:before {
			top: 80px;
			left: -30px;
			position: absolute;
			content: '\201C';
			font-family: serif;
			font-weight: bold;
			font-size: 200px;
			color: white;
			text-shadow: 0 0 2px @colorClearBlue;
			font-style: italic;
			z-index: -1;
		}
	}

	.list-view  {
		margin: 0px;
		margin-bottom: 20px;
		color: @colorClearBlue;
		list-style: none;

		li {
			background: white;
			border-bottom: solid 1px @colorClearBlue;
			padding: 10px 0px;
			
			&:first-child {
				border-top: solid 1px @colorClearBlue;
			}
		}
	}

	#hunts-list.list-view {
		li {
			padding: 0px;
		}

		a {
			display: block;
			padding: 10px 0px;
			color: @colorClearBlue;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			
			&:active {
				text-decoration: none;
				background: @colorClearBlue;
				color: white;
			}
		}
	}

	#clues-list {
		margin-bottom: 5px;

		li {
			padding: 10px 0px;
		}
	}

	p {
		color: @colorClearBlue;

		&.danger {
			color: @colorRed;
		}

		.score {
			font-weight: bold;
			font-size: 32px;
		}
	}

	.list-view.itinerary {
		text-transform: none;
		margin-bottom: 15px;

		li {
			line-height: 32px;
			vertical-align: middle;

			img {
				margin-right: 5px;
			}
		}
	}

	h1 {
		color: @colorGreen;
		.hunt-name {
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.level {
			font-size: 18px;
			text-transform: lowercase;
			font-weight: normal;
		}
	}

	p.finish {
		font-weight: bold;
		text-transform: uppercase;
	}

	.summary {
		margin: 25px 0px;

		p {
			font-size: 18px;
			color: @colorDarkBlue;
		}
	}

	.tag {
		color: @colorClearBlue;
	}

	#presentation-game-hunt {
		height: 100px;
	}

	.actions {
		text-align: right;
		margin: 20px 0px;
	}

	.btn {
		padding: 5px 20px;

		&:not(.disabled) {
			&:hover {
				background: white;
				color: @colorClearBlue;
			}

			&:active {
				background: @colorClearBlue;
				color: white;
			}

			&.btn-danger {
				&:hover {
					color: @colorRed;
					background: white;
				}

				&:active {
					background: @colorRed;
					color: white;
				}
			}
		}
	}
}