@import "lib.less";

::selection {
    background: rgba(255, 0, 0, 0.1);
}

body {
    background: white;
}

textarea {
    resize: none;
}

.pushable:active, .pushable:focus {
    position: relative;
    top: 3px;
    outline: none;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    .border-radius(0px);
    border: solid 1px @colorClearBlue;
    background: transparent;
    color: @colorClearBlue;

    &:focus {
        .box-shadow(none);
        color: @colorDarkBlue;
        border-color: @colorDarkBlue;
    }
}

button, input[type="submit"] {
    font-weight: bold;
    padding: 2px 5px;
    border: solid 1px @colorClearBlue;
    background: transparent;
    color: @colorClearBlue;
}

label {
    color: @colorClearBlue;

    &.focus {
        color: @colorDarkBlue;
    }
}

.blue-highlighted {
    color: white;
    .highlight(5px, @colorClearBlue);
}

.blue {
    color: @colorClearBlue;
}

.green {
    color: @colorGreen;
}

.uppercase {
    text-transform: uppercase;
}

.copyright {
    text-align: center;
    margin-top: 40px;
}

.btn-arrow-green {
    position: relative;
    border: solid 2px @colorGreen;
    border-right: none;
    background: @colorGreen;
    padding: 0px 5px;
    color: white;
    font-size: 24px;
    line-height: 32px;
    height: 32px;
    font-weight: bold;
    outline: none;

    &:hover {
        color: white;
        text-decoration: none;
        background: @colorGreen;
        outline: none;
    }

    &:before {
        content: "";
        border: solid transparent;
        height: 0;
        left: 100%;
        position: absolute;
        width: 0;
        border-width: 18px;
        border-left-color: @colorGreen;
        top: -2px;
    }
}

.big {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

[class*="span"].left-glue {
    margin-left: 10px;
}

header {
    background-color: @colorClearBlue;
    height: 178px;
    border-bottom: solid 2px @colorDarkBlue;

    .background {
        margin: auto;
        height: 180px;
        background: url(/assets/images/header.png) no-repeat;
    }
}

footer {
    margin-top: 15px;
    background-color: @colorGreen;
    color: white;

    .background {
        margin: auto;
        height: 442px;
        background: url(/assets/images/footer.png) no-repeat;
    }

    h1 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: normal;

        strong {
            font-weight: bold;
        }
    }
}

nav {
    margin: 25px 0px 30px 0px;

    ul {
        padding: 0px;
        margin: 0px;
        li {
            &.selected {
                color: white;
                background: @colorGreen;
                position: relative;

                &:after {
                    content: "";
                    display: inline-block;
                    width: 0px;
                    height: 0px;
                    vertical-align: top;
                    border-top: 10px solid @colorGreen;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    margin-left: -8px;
                    text-align: center;
                }
            }

            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    color: inherit;
                    text-decoration: none;
                }
            }

            margin-right: 30px;
            color: @colorGreen;
            background: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 24px;
            display: inline-block;
            padding: 8px 8px;
        }
    }
}

#contact-form {
    textarea {
        height: 100px;
    }

    input[type="text"], textarea, button[type="submit"] {
        border: solid 1px white;
        background: transparent;
        color:white;
    }
    
    input[type="text"], textarea {
        width: 100%;

        &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        &:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        &:-moz-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    button[type="submit"]:hover {
        color: @colorGreen;
        background: white;
    }
}

