@import "lib.less";

::selection {
    background: rgba(255, 0, 0, 0.1);
}

body {
    background: white;
}

textarea {
    resize: none;
    height: 100px;
}

.pushable:active, .pushable:focus {
    position: relative;
    top: 2px;
    outline: none;
}

.form-horizontal {
    .control-label {
        width: 110px;
    }

    .controls {
        margin-left: 120px;
    }

    .form-actions {
        padding-left: 120px;
    }
}

.input-append .add-on:last-child {
    .border-radius(0px);
    text-shadow: none;
    background: none;
    border: solid 1px @colorClearBlue;
    color: @colorClearBlue;

    &.focus {
        border: solid 1px @colorDarkBlue;
        color: @colorDarkBlue;
    }
}

.input-append .btn:last-child {
    .border-radius(0px);
    text-shadow: none;
    background: @colorClearBlue;
    border: solid 1px @colorClearBlue;
    color: white;

    &.focus {
        border: solid 1px @colorDarkBlue;
        background: @colorDarkBlue;
    }
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    .border-radius(0px);
    border: solid 1px @colorClearBlue;
    background: transparent;
    color: @colorClearBlue;

    &:focus {
        .box-shadow(none);
        color: @colorDarkBlue;
        border-color: @colorDarkBlue;
    }
}

.control-group.error input, .control-group.error select, .control-group.error textarea {
    .box-shadow(none);

    &:focus {
        .box-shadow(none);
    }
}

.btn-group > .btn:first-child, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    .border-radius(0px);
}

.btn-group > .btn {
    font-weight: normal;

    &:active:not(.active), &:focus:not(.active) {
        position: relative;
        top: 2px;
    }
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    cursor: not-allowed;
    background-color: @colorClearBlue;
    color: white;
}

input[type="text"], textarea {
    &::-webkit-input-placeholder {
        color: rgba(200, 200, 200, 0.5);
    }

    &:-ms-input-placeholder {
        color: rgba(200, 200, 200, 0.5);
    }

    &:-moz-placeholder {
        color: rgba(200, 200, 200, 0.5);
    }
}

.btn {
    font-weight: bold;
    padding: 4px 10px;
    border: solid 1px @colorClearBlue;
    background: transparent;
    color: @colorClearBlue;
    .border-radius(0px);
    .box-shadow(none);
    text-shadow: none;
    text-transform: uppercase;

    &.inverse {
        background: @colorClearBlue;
        color: white;
    }

    &:hover, &.active {
        color: white;
        background: @colorClearBlue;
    }

    &:active, &:focus, &.active{
        .box-shadow(none);
        background: @colorClearBlue;
        color: white;
    }

    &.btn-danger {
        color: @colorRed;
        border-color: @colorRed;

        &:hover, &.active {
            background: @colorRed;
            color: white;
        }

        &:active, &:focus, &.active{
            background: @colorRed;
            color: white;
        }
    }
}

.form-actions {
    background: none;
    border-top: 1px solid @colorOrange;
}

.help-block, .form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block {
    font-size: 13px;
    color: @colorOrange;
    margin-top: 5px;
}

label {
    color: @colorClearBlue;

    &.focus {
        color: @colorDarkBlue;
    }
}

.blue-highlighted {
    color: white;
    .highlight(5px, @colorClearBlue);
}

.blue {
    color: @colorClearBlue;
}

.green {
    color: @colorGreen;
}

.uppercase {
    text-transform: uppercase;
}

.copyright {
    text-align: center;
    margin-top: 10px;
}

.btn-arrow-green {
    position: relative;
    border: solid 2px @colorGreen;
    border-right: none;
    background: @colorGreen;
    padding: 0px 5px;
    color: white;
    font-size: 24px;
    line-height: 32px;
    height: 32px;
    font-weight: bold;
    outline: none;

    &:hover {
        color: white;
        text-decoration: none;
        background: @colorGreen;
        outline: none;
    }

    &:before {
        content: "";
        border: solid transparent;
        height: 0;
        left: 100%;
        position: absolute;
        width: 0;
        border-width: 18px;
        border-left-color: @colorGreen;
        top: -2px;
    }
}

.big {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

[class*="span"].left-glue {
    margin-left: 10px;
}

header {
    height: 118px;
    background-color: @colorClearBlue;
    border-bottom: solid 2px @colorDarkBlue;

    .background {
        background: url(/assets/images/header-small.png) no-repeat left;
        height: 120px;
    }
}

nav {
    margin: 15px 0px 20px 0px;

    ul.menu {
        font-size: 14px;
        padding: 0px;
        margin: 0px;

        li {
            margin-right: 20px;
            color: @colorGreen;
            background: white;
            font-weight: bold;
            text-transform: uppercase;
            display: inline-block;
            padding: 5px 5px;

            &.selected {
                color: white;
                background: @colorGreen;
                position: relative;

                &:after {
                    content: "";
                    display: inline-block;
                    width: 0px;
                    height: 0px;
                    vertical-align: top;
                    border-top: 10px solid @colorGreen;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    margin-left: -8px;
                }
            }

            a {
                text-decoration: none;
                color: inherit;

                &:hover {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }

    ul.breadcrumb {
        overflow: hidden;

        li {
            text-shadow: none;
            font-weight: bold;
            display: block;

            &:first-child a {
                padding-left: 10px;
            }

            &:last-child a {
                background: none;
                color: @colorGreen;

                &:after {
                    border: none;
                }
                
                &:before {
                    border: none;
                }
            }

            a {
                text-transform: uppercase;
                color: white;
                text-decoration: none;
                padding: 4px 0px 4px 25px;
                background: @colorGreen;
                position: relative;
                display: block;
                float: left;

                &:after {
                    content: "";
                    display: block;
                    width: 0px;
                    height: 0px;
                    border-top: 25px solid transparent;
                    border-bottom: 25px solid transparent;
                    border-left: 15px solid @colorGreen;
                    position: absolute;
                    top: 50%;
                    margin-top: -25px;
                    left: 100%;
                    z-index: 2;
                }

                &:before {
                    content: "";
                    display: block;
                    width: 0px;
                    height: 0px;
                    border-top: 25px solid transparent;
                    border-bottom: 25px solid transparent;
                    border-left: 15px solid white;
                    position: absolute;
                    top: 50%;
                    margin-top: -25px; 
                    margin-left: 1px;
                    left: 100%;
                    z-index: 1; 
                }
            }
        }
    }
}

#contact-form {
    input[type="text"], textarea, button[type="submit"] {
        border: solid 1px white;
        background: transparent;
        color:white;
    }
    
    input[type="text"], textarea {
        &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        &:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        &:-moz-placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    button[type="submit"]:hover {
        color: @colorGreen;
        background: white;
    }
}

blockquote {
    border-left: 5px solid @colorDarkBlue;
    color: @colorDarkBlue;
}

q::before, q::after, blockquote::before, blockquote::after {
    content: none;
}

.modal-form.modal {
    h3 {
        color: @colorGreen;
        text-transform: uppercase;
        font-size: 18px;
    }

    .modal-header {
        border: none;
    }

    .modal-footer {
        background: white;
        border-top: 1px solid @colorOrange;
        margin: 0px 15px;
        text-align: left;
        margin-left: 120px;
    }
}

.modal {
    .border-radius(0px);
    outline: none;

    .close {
        color: @colorDarkBlue;

        &:hover {
            color: @colorDarkBlue;
            opacity: 1;
        }
    }
}