@import "lib.less";

@media (max-width: 979px) {
	header .background {
		width: 100%;
	}
	
	.home footer {
	    .background {
	        width: 100%;
	        margin-left: 0px;
        	left: 0px;
	    }
	}
}

@media (max-width: 767px) {
	body {	
		padding: 0px;
	}

	.container-fluid, .container {
   		padding: 0px 5px;
  	}

  	.home header {
  		.background {
  			margin: 0px;
  		}
  	}

  	[class*="span"].left-glue {
  		margin-left: 0px;
  	}

  	nav {
	  	ul.breadcrumb {
	  		height: auto;

	  		li {
	  			overflow: hidden;
	  			margin-bottom: 1px;
	  			margin-right: 1px;
	  			float: left;
	  			padding-right: 15px;

	  			a {
	  				padding-left: 10px;
	  			}
	  		}
	  	}
  	}

  	#connection {
		border-top: solid 1px @colorOrange;
		border-left: none;
	}

	#partners .logos {
		text-align: left;
	}

	.home header {
		height: 118px;
		position: relative;

		.background {
	        background: url(/assets/images/header-small.png) no-repeat left;
        	height: 120px;
	    }
	}

	nav {
		ul.menu {
			li {
				display: block;
				margin-right: 0px;

				&:before {
					content: initial;
					display: none;
				}
			}
		}
	}

	.big {
		font-size: 18px;
	}

	.btn-arrow-green a {
		font-size: 18px;
		padding: 3px;
	}
}

@media (min-width: 481px) {
	.form-horizontal {
	    .control-label {
	        width: 110px;
	    }

	    .controls {
	        margin-left: 120px;
	    }

	    .form-actions {
	        padding-left: 120px;
	    }
	}
}